body {
  display: block;
}
a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
}

a:hover .box, a:focus .box{
  color: navy;
}

.box {
  box-shadow: 0px 10px 10px 5px #888888;
  margin-bottom: 40px;
}
.box:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari */
  transform: scale(1.2);
}
.desc {
  background-color: #f0f0f0;
}

.jumbotron{
  padding: 1rem 2rem;
}
.jumbotron i {
  margin-left: 20px;
}

.jumbotron ul{
   list-style: none;
  margin: none;
  padding: none;
text-align: center;
}

.jumbotron ul li{
  text-align: center;
  display: inline;
   border-right: 1px;
  border-right-style: solid;
}
.jumbotron a:link{
   display: inline;
}
.jumbotron li:last-of-type{
   border: none;
}
.jumbotron ul li a{
  padding: 2em;
}